* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  background-color: hsl(0, 0%, 8%);
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.herosection {
  background-color: hsl(0, 0%, 12%);
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}
.userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  padding: 1rem;
  min-height: max-content;
}
img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
h1 {
  color: white;
  padding: 0.8rem;
  padding-bottom: 0rem;
  font-size: 24px;
}
.country {
  color: hsl(75, 94%, 57%);
  font-size: 18px;
  margin: 0rem;
}
p {
  color: white;
  padding: 0.8rem;
  font-size: 18px;
  font-weight: 600;
}
a:hover {
  color: hsl(75, 94%, 57%);
  font-size: 20px;
  transition: ease-in-out 0.8s;
}
button:focus {
  color: hsl(0, 0%, 8%);
  transition: ease-out 0.5;
  box-shadow: 0 0 0 2px hsl(75, 94%, 57%);
  outline: none;
}
.status {
  color: white;
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 18px;
}
button {
  padding: 0.8rem;
  border-radius: 10px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
  min-width: 300px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
